.new-logo {
  position: relative;
  width: 64px;
}

.logo-text {
  color: white;
  font-weight: 900;
  top: 20px;
  font-size: 20px;
  position: relative;
}
.logo-text-dark {
  color: rgb(21, 20, 20);
  font-weight: 900;
  top: 20px;
  font-size: 20px;
  position: relative;
}

.logo-cont {
  display: flex;
  flex-direction: row;
}
